In [1]:
type(1)

int

In [2]:
type(1.0)

float

In [3]:
1+2

3

In [4]:
1*3

3

In [5]:
1/2

0.5

In [6]:
1//2

0

In [7]:
1**3

1

In [8]:
3%2

1

In [9]:
# snake casing
name_of_variable = 2

In [10]:
name_of_variable * 2

4

In [11]:
"string"

'string'

In [12]:
'string1'

'string1'

In [13]:
print("hello")

hello

In [15]:
# format strings
# insert variables into strings

name = "aritra"
"My name is {}".format(name)

'My name is aritra'

In [16]:
"My name is {}, my age is {}".format(name, 22)

'My name is aritra, my age is 22'

In [18]:
"First: {x} and Second: {y}".format(x="abc", y="def")
# by naming the variables -
# now order of variables does not matter
# we can use one variable more than once

'First: abc and Second: def'

In [20]:
# List
myList = [1,2,"aritra",{"age":16 }]
myList

[1, 2, 'aritra', {'age': 16}]

In [21]:
myList[0]

1

In [22]:
# dictionary
d = {'key1':"value1", "key2":"value2"}
d

{'key1': 'value1', 'key2': 'value2'}

In [23]:
d["key1"]

'value1'

In [25]:
d["key2"]

'value2'

In [26]:
# comparision operators
2 > 4

False

In [27]:
'a' == "A"

False

In [28]:
"a" == "a"

True

In [29]:
"aritra" == "aritra"

True

In [30]:
# Logic operators
# and, or, not

In [31]:
((1 == 1) and ("a" == "b")) and (4 == 1)

False

In [33]:
# if..else_if..else

age = 18
if age >18:
    print("u can vote")
elif age == 18:
    print("just 1 year more")
else:
    print("u cannot")

just 1 year more

In [34]:
# for loops
seq = [1,2,4,5,2,1]

for item in seq:
    print(item)

1
2
4
5
2
1

In [35]:
# while loops
i = 3
while(i > 0):
    print("i is {}".format(i))
    i = i-1;

i is 3
i is 2
i is 1

In [37]:
# range function 
list(range(2,20,3))

[2, 5, 8, 11, 14, 17]

In [38]:
n = 10
for x in range(0,n,2):
    print(x)

0
2
4
6
8

In [40]:
# list comprehension

# normal way - 
x = [1,2,3,4,5]
out = []
for num in x:
    out.append(num*2)

[2, 4, 6, 8, 10]

In [43]:
# list comprehension
out = [num*2 for num in x]
out

[2, 4, 6, 8, 10]

In [45]:
# Python functions
def my_func():
    print("hello")
    
my_func()

hello

In [51]:
def print_name(name = "ram"):
    print("hello there {}".format(name))

print_name()
print_name("aritra")

hello there ram
hello there aritra

In [53]:
# Defining function description using -> ''' text description'''
def square(x):
    '''
    this function returns square of number
    '''
    return x ** 2

result = square(3)
result

9

In [54]:
# lambda expression

# normal function -
def times_two(num):
    return num*2

times_two(5)

10

In [55]:
lambda num: num*2

In [56]:
st = "my name is aritra"

In [57]:
st.lower()

'my name is aritra'

In [58]:
st.upper()

'MY NAME IS ARITRA'

In [59]:
# spliting on blank space
st.split()

['my', 'name', 'is', 'aritra']

In [60]:
# splitting on "."(period)
ip = "192.168.1.1"
ip.split(".")

['192', '168', '1', '1']

In [61]:
myList.pop()

{'age': 16}

In [62]:
'1' in [1,2,3]

False

In [63]:
1 in [1,2,3]

True